@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    font-family: 'Comfortaa', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../triangles.jpg);
    background-size: cover;
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav > h1{
    margin: 10px;
    font-family: 'Dancing Script', cursive;
}

nav > ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-item{
    list-style: none;
    margin-left: 10px;
    text-align: center;
    border-bottom: 1px solid transparent;
    margin: 0.2rem 0.5rem
}

.active{
    font-weight: 600;
    color: blue;
}

.active a {
    color: blue;
}
a:hover{
    color: blue;
}
.active a {
    color: blue;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
}

section{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    color: #fff;
}

.header{
    text-align: center;
    margin-bottom: 10px;
}

.header > p {
    margin: 0.5rem;
    font-weight: 600;
}

label{
    text-align: center;
    margin: 10px;
}

input{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}

#btn{
    width: fit-content;
    align-self: center;
    border: 1px solid blue;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blue;
    color: #fff
}

#output{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 1rem;
}

#quizForm{
    margin: 1rem;
    background-color: #fff;
    color: black;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

#quizForm input{
    width: fit-content;
}
#quizForm label{
    display: inline-block;
    margin: 8px;
}

.question-group{
    margin-bottom: 3rem;
}

#output{
    border-radius: 10px;
    padding: 20px;
}


.footer {
    background-color: aqua;
    border-top-right-radius: 1.5rem;
    padding: 1.5rem 0rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-heading {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
}

.footer-pills {
    padding-left: 0rem;
    margin: auto;
}

.footer .link {
    color: black;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}